:root {
  --bg_main: #0a1f44;
  --text_light: #fff;
  --text_med: #53627c;
  --text_dark: #1e2432;
  --red: #ff1e42;
  --darkred: #c3112d;
  --orange: #ff8c00;
}

/* div {
  border: 1px solid red;
}
 */
body {
  font: 1rem/1.3 "Roboto", sans-serif;
  background: var(--bg_main);
  color: var(--text_light);
  max-height: 100vh;

  background-image: url(asset/img/LosAngeles.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  backdrop-filter: blur(5px);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
}

/* weather card section
  ----------------------*/

.weather-card {
  height: 100%;
}

.weather-card .city-list {
  height: 100%;
  width: 100%;
}

.weather-card .city-el {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.weather-card .city-el .city-card {
  display: flex;
  flex-direction: column;
  height: 100vw;
  justify-content: space-evenly;
}

.weather-card .city-el .city-name,
.weather-card .city-el .w-type,
.weather-card .city-el .city-temp,
.weather-card .city-el .temp-min-max {
  display: flex;
  justify-content: center;
}
.weather-card .city-el .city-name {
  margin-top: 10%;
}
.weather-card .bar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.weather-card .forecast-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.weather-card .forecast-bar .day {
}

.weather-card .forecast-bar .day > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.weather-card .forecast-bar .day .temp-minmax-little {
  font-size: 0.7rem;
}

.weather-card .city-el .city-temp {
  font-size: 25vh;
}

.weather-card .city-el .temp-min-max {
}

.swiper-container .swiper-pagination {
    top: 1rem;
}
.swiper-container .swiper-pagination .swiper-pagination-bullet {
  /* color: var(--text_light); */
  background-color: var(--text_light);
}
